<!-- upload_document.html -->
{% extends 'index.html' %}
<!-- START of MACRO import -->
<!-- END of MACRO import -->
{% block head_title %} - Document Upload{% endblock %}
<!-- START of the block main_content -->
{% block main_content %}
<section aria-labelledby="view-document">
  <h2 id="my-document">My Documents</h2>
  <form method="POST" enctype="multipart/form-data">
    <fieldset>
      <legend>Upload a document</legend>
      {{ form.hidden_tag() }}
      <!--         -->
      {{ form.document.label }} {{ form.document(size=32) }}
      <br />
      {{ form.document_role.label }} {{ form.document_role }}
      <br />
      {{ form.notes.label }} {{ form.notes }}
      <br />
      {{ form.submit() }}
      <!-- -->
      {% if form.document.errors %}
      <!-- this error handler DOES NOT work -->
      <ul>
        {% for error in form.document.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </fieldset>
  </form>
</section>
{% endblock %}
