<!-- mynotarylogbook.html -->
{% extends 'index.html' %}
<!-- START of MACRO import -->
{% from "macros/legalDocs/NPLL_NYSDOS.html" import list_formatting_css %}
<!--   -->
{% from "macros/legalDocs/NPLL_NYSDOS.html" import section182_9 %}
<!--   -->
{% from "macros/legalDocs/NPLL_NYSDOS.html" import section182_2 %}
<!-- END of MACRO import -->
{% block head_title %} - Logbook{% endblock %}
<!-- START of the block base_head_content -->
{% block base_head_content %}
<link
  href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  rel="stylesheet"
/>
{{ list_formatting_css() }}
<!-- END of the block base_head_content -->
{% endblock %}
<!-- START of the block main_content -->
{% block main_content %}
<section>
  <h2>Notary Logbook - Editable Table</h2>
  <button onclick="location.href='/notary_log_entry'">Add Entry</button>
  <hr />
  <div id="table" class="containe row"></div>
  <hr />
  {{ section182_9() }}
  <!--   -->
  {{ section182_2() }}
</section>
<!-- END of the block main_content -->
{% endblock %}
<!-- START of the block base_end_of_body_scripts -->
{% block base_end_of_body_scripts %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
  const tableDiv = document.getElementById("table");

  const updateUrl = (prev, query) => {
    return (
      prev +
      (prev.indexOf("?") >= 0 ? "&" : "?") +
      new URLSearchParams(query).toString()
    );
  };

  const editableCellAttributes = (data, row, col) => {
    if (row) {
      return { contentEditable: "true", "data-element-id": row.cells[0].data };
    } else {
      return {};
    }
  };

  new gridjs.Grid({
    columns: [
      { id: "id", hidden: true },
      {
        id: "edit_button",
        name: "Edit",
        sort: false,
        formatter: (cell, row) => {
          return gridjs.h(
            "a",
            {
              href: `/notary_log_entry/${row.cells[0].data}`,
            },
            "Edit"
          );
        },
      },
      {
        name: "Delete",
        id: "delete_button",
        sort: false,
        formatter: (cell, row) => {
          return gridjs.h(
            "button",
            {
              onClick: () => {
                if (confirm("Are you sure you want to delete this entry?")) {
                  fetch(`/notary_log_entry/${row.cells[0].data}`, {
                    method: "DELETE",
                  })
                    .then((response) => response.json())
                    .then((data) => {
                      if (data.success) {
                        location.href = "/mynotarylogbook.html";
                      } else {
                        alert("Failed to delete entry");
                      }
                    });
                }
              },
            },
            "Delete"
          );
        },
      },
      {
        id: "date_time",
        name: "Date & Time",
        formatter: (cell) => {
          if (!cell) {
            return "01/01/1901 01:01:01";
          }
          const [dateString, timeString] = cell.split(" "); // Split the date_time string into date and time
          const date = new Date(dateString + "T" + timeString + "Z"); // Treat the input as UTC
          const formattedDate = `${
            date.getMonth() + 1
          }/${date.getDate()}/${date.getFullYear()}`;

          const [hour, minute] = timeString.split(":");
          const time = new Date();
          time.setHours(hour, minute);
          const formattedTime = time.toLocaleTimeString("en-US", {
            hour: "numeric",
            minute: "numeric",
            hour12: true,
          });

          return `${formattedDate} ${formattedTime}`;
        },
      },
      {
        id: "principal_name",
        name: "Principal Name",
      },
      {
        id: "principal_addressLine1",
        name: "Address Line 1",
      },
      {
        id: "principal_addressLine2",
        name: "Address Line 2",
      },
      {
        id: "principal_city",
        name: "City",
      },
      {
        id: "principal_state",
        name: "State",
      },
      {
        id: "principal_zipCode",
        name: "Zip Code",
      },
      {
        id: "act_type",
        name: "Act Type",
      },
      {
        id: "service_type",
        name: "Service Type",
      },
      {
        id: "service_number",
        name: "Service Number",
      },
      {
        id: "principal_credential_type",
        name: "Credential Type",
      },
      {
        id: "communication_tech",
        name: "Communication Tech",
      },
      {
        id: "certification_authority",
        name: "Certification Authority",
      },
      {
        id: "verification_provider",
        name: "Verification Provider",
      },
    ],
    server: {
      url: "/notarial_act_list",
      then: (results) => {
        console.log(results.data); // Log the entire server response
        return results.data;
      },
      total: (results) => results.total,
    },
    search: {
      enabled: true,
      server: {
        url: (prev, search) => {
          return updateUrl(prev, { search });
        },
      },
    },
    sort: {
      enabled: true,
      multiColumn: true,
      server: {
        url: (prev, columns) => {
          const columnIds = [
            "id",
            "date_time",
            "act_type",
            "principal_name",
            "principal_addressLine1",
            "principal_addressLine2",
            "principal_city",
            "principal_state",
            "principal_zipCode",
            "service_number",
            "service_type",
            "principal_credential_type",
            "communication_tech",
            "certification_authority",
            "verification_provider",
          ];
          const sort = columns.map(
            (col) => (col.direction === 1 ? "+" : "-") + columnIds[col.index]
          );
          return updateUrl(prev, { sort: sort.join(",") });
        },
      },
    },
    pagination: {
      enabled: true,
      server: {
        url: (prev, page, limit) => {
          return updateUrl(prev, { start: page * limit, length: limit });
        },
      },
    },
    style: {
      table: {
        "font-size": "1rem",
      },
    },
  }).render(tableDiv);
</script>
<!-- END of the block base_end_of_body_scripts -->
{% endblock %}
