<!-- notary_log_entry_form.html -->
{% extends 'index.html' %}
<!-- spacer  -->
{% block base_head_content %}<style></style>
{% endblock %}
<!-- spacer  -->
{% block main_content %}
<h2>Notary Logbook - Notarial Act Entry</h2>
<form action="{{ action }}" method="post">
  {{ form.hidden_tag() }}
  <!-- spacer  -->
  {{ form.date_time.label }} {{ form.date_time }}
  <!-- spacer  -->
  {{ form.act_type.label }} {{ form.act_type }}<!-- spacer  -->
  {{ form.principal_name.label }} {{ form.principal_name }}<!-- spacer  -->
  {{ form.principal_addressLine1.label }} {{ form.principal_addressLine1 }}<!-- spacer  -->
  {{ form.principal_addressLine2.label }} {{ form.principal_addressLine2 }}<!-- spacer  -->
  {{ form.principal_city.label }} {{ form.principal_city }}<!-- spacer  -->
  {{ form.principal_state.label }} {{ form.principal_state }}<!-- spacer  -->
  {{ form.principal_zipCode.label }} {{ form.principal_zipCode }}<!-- spacer  -->
  {{ form.service_number.label }} {{ form.service_number }}<!-- spacer  -->
  {{ form.service_type.label }} {{ form.service_type }}<!-- spacer  -->
  {{ form.principal_credential_type.label }} {{ form.principal_credential_type
  }}<!-- spacer  -->
  {{ form.communication_tech.label }} {{ form.communication_tech }}<!-- spacer  -->
  {{ form.certification_authority.label }} {{ form.certification_authority }}<!-- spacer  -->
  {{ form.verification_provider.label }} {{ form.verification_provider }}<!-- spacer  -->
  {{ form.submit }}
</form>

{% endblock %}
<!-- spacer  -->
{% block base_end_of_body_scripts %}
<script></script>
{% endblock %}
