<!-- confirm_registration.html -->

{% extends 'base.html' %} {% block main_content %}
<h2>Confirm Your Registration</h2>

<form
  action="{{ url_for('confirm_registration') }}"
  method="POST"
  id="confirm-registration-form"
>
  {{ form.hidden_tag() }}
  <!--  -->
  {{ form.csrf_token }}
  <!--  -->
  {{ form.email }}
  <!--  -->
  {{ form.password }}
  <!--  -->
  {{ form.role }}
  <!--  -->
  {{ form.is_admin }}
</form>
<p>Email: {{ session['email'] }}</p>
<p>Roles: {% for role in role_names %} {{ role }} {% endfor %}</p>

<p>Full Name: {{ session['full_name'] }}</p>
<p>
  Address: {{ session['street_address_line_one'] }} {{
  session['street_address_line_two'] }}
</p>
<p>City: {{ session['city'] }}</p>
<p>State: {{ session['state'] }}</p>
<p>Zip Code: {{ session['zip_code'] }}</p>
<p>Timezone: {{ session['timezone'] }}</p>
<!--  -->
{% if 'Admin' in role_names %}
<p>Your Administrator access is pending approval</p>
{% endif %}
<!-- spacer -->
{% if 'Traditional Notary' in role_names or 'Electronic Notary' in role_names %}
<p>Commission Holder Name: {{ session['commission_holder_name'] }}</p>
<p>Commission Number/UID: {{ session['commission_number_uid'] }}</p>
<p>Commissioned County: {{ session['commissioned_county'] }}</p>
<p>Commission Start Date: {{ session['commission_start_date'] }}</p>
<p>Commission Expiration Date: {{ session['commission_expiration_date'] }}</p>
<p>
  Commission Type: {{ session['commission_type_traditional_or_electronic'] }}
</p>
{% endif %}
<!-- spacer -->
{{ form.submit() }} {% endblock %}
