<!-- confirm_registration.html -->
{% extends 'base.html' %}
<!--  -->
{% block main_content %}
<h2>Confirm Your Registration Details</h2>

<form
  action="{{ url_for('confirm_registration') }}"
  method="POST"
  id="confirm-registration-form"
>
  {{ form.hidden_tag() }}
  <!--  -->
  {{ form.csrf_token }}
  <!--  -->
  {{ form.submit() }}
</form>
<h3>Signup Information</h3>
<p>Email: {{ signup_form_data['email'] }}</p>
<p>Roles: {% for role in role_names %} {{ role }} {% endfor %}</p>

<h3>User Details</h3>
<p>Full Name: {{ signup_user_details_form_data['full_name'] }}</p>
<p>
  Address: {{ signup_user_details_form_data['street_address_line_one'] }} {{
  signup_user_details_form_data['street_address_line_two'] }}
</p>
<p>City: {{ signup_user_details_form_data['city'] }}</p>
<p>State: {{ signup_user_details_form_data['state'] }}</p>
<p>Zip Code: {{ signup_user_details_form_data['zip_code'] }}</p>
<p>Timezone: {{ signup_user_details_form_data['timezone'] }}</p>

{% if 'Admin' in role_names %}
<h3>Admin Details</h3>
<p>Your Administrator access is pending approval</p>
{% endif %}
<!--  -->
{% if 'Traditional Notary' in role_names or 'Electronic Notary' in role_names %}
<h3>Notary Details</h3>
<p>
  Commission Holder Name: {{ notary_cred_api_resp['commission_holder_name'] }}
</p>
<p>
  Commission Number/UID: {{ notary_cred_api_resp['commission_number_uid'] }}
</p>
<p>Commissioned County: {{ notary_cred_api_resp['commissioned_county'] }}</p>
<p>Commission Start Date: {{ notary_cred_api_resp['term_issue_date'] }}</p>
<p>
  Commission Expiration Date: {{ notary_cred_api_resp['term_expiration_date'] }}
</p>
<p>
  Commission Type: {{
  notary_cred_api_resp['commission_type_traditional_or_electronic'] }}
</p>
{% endif %}
<!--  -->
{% endblock %}
