<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>eNotaryNYServices</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container row">
        <button id="nav-toggle" class="nav-toggle" aria-label="open navigation">
          <span class="hamburger"></span>
        </button>
        <a href="/" class="logoContainer">
          <h1>Notarious</h1>
        </a>

        <nav class="nav" id="nav">
          <ul class="nav__list nav__list--primary">
            <!-- links to the pages -->
            <!-- <li class="nav__item">
              <a
                href="/principals"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >Principals List</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/trad_notaries"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >Traditional Notaries List</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/e_notaries"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >Electronic Notaries List</a
              >
            </li> -->
            <li class="nav__item">
              <a
                href="/findnotary"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >Find A Notary</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/mydetails"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >My Details</a
              >
            </li>
            <li class="nav__item">
              <a
                href="/myesignature"
                class="nav__link"
                title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
                >My E-Signature</a
              >
            </li>
            {% if 'Admin' in current_user.roles or 'Traditional Notary' in
            current_user.roles or 'Electronic Notary' in current_user.roles%}
            <li class="nav__item">
              <a
                href="/notarylogbook"
                class="nav__link"
                title="Access Required: Admin, Traditional Notary, Electronic Notary"
                >My Logbook</a
              >
            </li>
            {% endif %} {% if 'Admin' in current_user.roles or 'Electronic
            Notary' in current_user.roles%}
            <li class="nav__item">
              <a
                href="/myenotarylog"
                class="nav__link"
                title="Access Required: Admin, Electronic Notary"
                >My E-Logbook</a
              >
            </li>
            {% endif %}
          </ul>
          <ul class="nav__list nav__list--secondary">
            <!-- Show only if user is logged in -->
            {% if current_user.is_authenticated %}
            <!-- Show current users email -->
            <div class="">
              <b>Current user</b>
              <p>{{current_user.email}}</p>
            </div>
            <!-- Current users roles -->
            <div class="">
              <b>Role</b>
              <p>
                {% for role in current_user.roles%} {{role.name}} {% endfor %}
              </p>
            </div>
            <!-- link for logging out -->
            <li class="nav__item">
              <a href="/logout" class="nav__link">Logout</a>
            </li>
            <!-- Show if user is not logged in -->
            {% else %}
            <li class="nav__item">
              <a href="/signup" class="nav__link">Sign up</a>
            </li>
            <li class="nav__item">
              <a href="/signin" class="nav__link">Sign in</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h2>Welcome to Notarious</h2>
      <p>
        This is a simple web application that demonstrates how to use Flask and
        Flask-Security to create a web application with user authentication and
        authorization.
      </p>
      <ul>
        The application has role based authentication and permissions for the
        following roles (hover over each link to view permissions):
        <li>
          <a
            href="/principals"
            title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
            >Principals List</a
          >
        </li>
        <li>
          <a
            href="/trad_notaries"
            title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
            >Traditional Notaries List</a
          >
        </li>
        <li>
          <a
            href="/e_notaries"
            title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
            >Electronic Notaries List</a
          >
        </li>
      </ul>
    </main>
    <footer>
      <p>&copy; 2024 Notarious</p>
    </footer>
    <script>
      var navToggle = document.getElementById("nav-toggle");
      var nav = document.getElementById("nav");

      navToggle.onclick = function () {
        if (navToggle.classList.contains("nav-toggle--open")) {
          navToggle.classList.remove("nav-toggle--open");
        } else {
          navToggle.classList.add("nav-toggle--open");
        }

        if (nav.classList.contains("nav--visible")) {
          nav.classList.remove("nav--visible");
        } else {
          nav.classList.add("nav--visible");
        }
      };
    </script>
    <script>
      document
        .getElementById("signup-form")
        .addEventListener("submit", function () {
          var option = document.querySelector(
            'input[name="options"]:checked'
          ).value;
          if (option == 3 || option == 4) {
            this.action = "/notaryauth";
          }
        });
    </script>
  </body>
</html>
