<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 
    Base title block.This can be overridden in child templates to provide a specific page title. 
    -->

    <title>Notarious{% block head_title %}{% endblock %}</title>
    <!-- 
    Linking to main stylesheets. 
    Add more specific stylesheets in child templates using the `base_head_content` block. 
    -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/flash-messages.css') }}"
    />
    {% block base_head_content %}
    <!--       -->
    {% endblock %}
  </head>
  <body>
    <!-- 
    Include the header template. 
    This header is consistent across all pages that extend this base template. 
    -->
    {% include 'partials/header.html' %}
    <!-- 
    Main content block. 
    Child templates should override this block to provide the main content of the page. 
    -->
    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- -->
      {% if messages %}
      <!-- -->
      {% for category, message in messages %}
      <!-- -->
      <div class="alert alert-{{ category }}">{{ message }}</div>
      <!-- -->
      {% endfor %}
      <!-- -->
      {% endif %}
      <!-- -->
      {% endwith %}
      <!-- -->
      {% block main_content %}
      <!-- -->
      {% endblock %}
      <!-- 
      Example section to display welcome message and application information. 
      This section is included in the base template and can be removed or overridden in child templates if not needed. 
      -->
      <section>
        <h2>Welcome to Notarious</h2>
        <p>
          This is a simple web application that demonstrates how to use Flask
          and Flask-Security to create a web application with user
          authentication and authorization.
        </p>
        <ul>
          The application has role based authentication and permissions for the
          following roles (hover over each link to view permissions):
          <li>
            <a
              href="/principals"
              title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
              >Principals List</a
            >
          </li>
          <li>
            <a
              href="/trad_notaries"
              title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
              >Traditional Notaries List</a
            >
          </li>
          <li>
            <a
              href="/e_notaries"
              title="Access Required: Admin, Principal, Traditional Notary, Electronic Notary"
              >Electronic Notaries List</a
            >
          </li>
        </ul>
      </section>
    </main>
    <!-- 
    Include the footer template. 
    This footer is consistent across all pages that extend this base template. 
    -->
    {% include 'partials/footer.html' %}
    <!-- 
    Inline JavaScript for navigation toggle. 
    You can add more specific scripts in child templates using the `base_end_of_body_scripts` block. 
    -->

    <script src="{{ url_for('static', filename='js/navToggle.js') }}"></script>
    {% block base_end_of_body_scripts %}{% endblock %}
  </body>
</html>
