<!-- mydetails.html -->

{% extends 'base.html' %} 
<!-- spacer -->
{% block main_content %}
<h3>My Details</h3>
<br />
<b>My email:</b>
<p>{{current_user.email}}</p>
<b>Role:</b> {% for role in current_user.roles%}
<p>{{role.name}}</p>
{% endfor %}

<b>Commission Holder Name:</b>
<p>{{current_user.notary_credentials.commission_holder_name }}</p>

<b>Commission ID:</b>
<p>{{current_user.notary_credentials.commission_number_uid }}</p>

<b>Commissioned County:</b>
<p>{{current_user.notary_credentials.commissioned_county }}</p>

<b>Commission Start Date:</b>
<p>{{current_user.notary_credentials.term_issue_date }}</p>

<b>Commission Expiration Date:</b>
<p>{{current_user.notary_credentials.term_expiration_date }}</p>
{% endblock %}
