<!-- mydocuments.html -->
{% extends 'base.html' %}
<!-- spacer -->
{% from "macros/form_macros.html" import render_delete_document_form %}
<!-- spacer -->
{% from "macros/document_macros.html" import render_document_info %}
<!-- spacer -->
{% block main_content %}
<!-- spacer -->
<h2>My Documents</h2>
<br />
<!-- Add upload button -->
<button onclick="location.href='{{ url_for('upload_document') }}'">
  Upload Document
</button>
<br />
<h3>My Principal Documents</h3>
<ul class="principal_doc_list">
  {% for document in documents %} {% if 'Principal' in
  document.document_roles|map(attribute='name')|list %}
  <li>
    <a href="{{ url_for('view_document', document_id=document.id) }}">{{ document.filename }}</a>
    <!-- delete button macro -->
    {{ render_delete_document_form(form=delete_document_form,
    document_id=document.id) }}
    <!-- document info macro -->
    {{ render_document_info(document) }}
  </li>
  {% endif %} {% endfor %}
</ul>
<h3>My Notary Documents</h3>
<ul class="notary_doc_list">
  {% for document in documents %} {% if 'Traditional Notary' in
  document.document_roles|map(attribute='name')|list or 'Electronic Notary' in
  document.document_roles|map(attribute='name')|list %}
  <li>
    <a href="{{ url_for('view_document', document_id=document.id) }}">{{ document.filename }}</a>
    <!-- Add delete button -->
    {{ render_delete_document_form(form=delete_document_form,
    document_id=document.id) }}
    <!-- document info macro -->
    {{ render_document_info(document) }}
  </li>
  {% endif %} {% endfor %}
</ul>
<h3>My Admin Documents</h3>
<ul class="admin_doc_list">
  {% for document in documents %} {% if 'Admin' in
  document.document_roles|map(attribute='name')|list %}
  <li>
    <a href="{{ url_for('view_document', document_id=document.id) }}">{{ document.filename }}</a>
    <!-- Add delete button -->
    {{ render_delete_document_form(form=delete_document_form,
    document_id=document.id) }}
    <!-- document info macro -->
    {{ render_document_info(document) }}
  </li>
  {% endif %} {% endfor %}
</ul>
<!--     -->
{% endblock %}
