{% extends 'base.html' %}
<!-- spacer  -->
{% block base_head_content %}
<link
  href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  rel="stylesheet"
/>
<style>
  ol {
    list-style-type: none;
    counter-reset: item;
  }

  ol.level-one > li {
    counter-increment: item;
  }

  ol.level-one > li::before {
    content: "(" counter(item, lower-alpha) ") ";
  }

  ol.level-two > li {
    counter-increment: item;
  }

  ol.level-two > li::before {
    content: "(" counter(item, decimal) ") ";
  }
</style>
{% endblock %}
<!-- spacer  -->
{% block main_content %}

<h2>Notary Logbook - Editable Table</h2>
<button onclick="location.href='/notary_log_entry'">Add Entry</button>
<hr />
<div id="table" class="containe row"></div>
<hr />
<section>
  <h3>§182.9 Recordkeeping and Reporting</h3>
  <ol class="level-one">
    <li>
      In addition to any required video and audio conference recording, all
      notaries public must maintain records sufficient to document compliance
      with the requirements of sections 130 and 135-c of the Executive Law and
      the duties and responsibilities of a notary public and/or electronic
      notary public as outlined in this Part. Record storage may be made through
      a third party if safeguarded through a password or other secure means of
      authentication or access. Such records shall be made contemporaneously
      with the performance of the notarial act and must include:

      <ol class="level-two">
        <li>
          the date, approximate time, and type of notarial acts performed;
        </li>
        <li>
          the name and address of any individuals for whom a notarial act was
          performed;
        </li>
        <li>the number and type of notarial services provided;</li>
        <li>
          the type of credential used to identify the principal, including, for
          verification made in accordance with paragraphs (4) or (5) of
          subdivision (b) of section 182.5, the names of the witnesses and, if
          applicable, the type of credential used;
        </li>
        <li>
          the verification procedures used for any personal appearance before
          the notary public; and
        </li>
        <li>
          for electronic notarial acts, identification of the communication
          technology and, if not included as part of the communication
          technology used by the electronic notary, the certification authority
          and verification providers used.
        </li>
      </ol>
    </li>
    <li>
      Any records maintained by a notary public pursuant to this Part must be
      retained by the notary public for at least ten years.
    </li>
    <li>
      Any records retained by a notary public pursuant to this Part must be
      capable of being produced to the secretary of state and others as
      necessary in relation to the performance of the notary public’s
      obligations pursuant to the Executive Law and this Part.
    </li>
  </ol>
</section>
<section>
  <h3>§182.2 Definitions</h3>
  <ol class="level-two">
    (c) “Notarial act” means any official act that a notary public is authorized
    to perform by law, including, but not limited to:
    <li>administering oaths and affirmations;</li>
    <li>taking affidavits and depositions;</li>
    <li>
      receiving and certifying acknowledgments or proof of such written
      instruments as deeds, mortgages, powers of attorney and other instruments
      in writing;
    </li>
    <li>
      demanding acceptance or payment of foreign and inland bills of exchange,
      promissory notes and obligations in writing, and protesting the same for
      non-acceptance or non-payment, as the case may require;
    </li>
    <li>
      preparation of a certificate of authenticity in accordance with paragraph
      (d) of subdivision six of section 135-c of the Executive Law or
    </li>
    <li>an electronic notarial act.</li>
  </ol>
</section>
{% endblock %}
<!-- spacer  -->
{% block base_end_of_body_scripts %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
  const tableDiv = document.getElementById("table");

  const updateUrl = (prev, query) => {
    return (
      prev +
      (prev.indexOf("?") >= 0 ? "&" : "?") +
      new URLSearchParams(query).toString()
    );
  };

  const editableCellAttributes = (data, row, col) => {
    if (row) {
      return { contentEditable: "true", "data-element-id": row.cells[0].data };
    } else {
      return {};
    }
  };

  new gridjs.Grid({
    columns: [
      { id: "id", hidden: true },
      { id: "date", name: "Date", attributes: editableCellAttributes },
      { id: "time", name: "Time", attributes: editableCellAttributes },
      { id: "act_type", name: "Act Type", attributes: editableCellAttributes },
      { id: "principal_name", name: "Principal Name", attributes: editableCellAttributes },
      { id: "principal_addressLine1", name: "Address Line 1", attributes: editableCellAttributes },
      { id: "principal_city", name: "City", attributes: editableCellAttributes },
      { id: "principal_state", name: "State", attributes: editableCellAttributes },
      { id: "principal_zipCode", name: "Zip Code", attributes: editableCellAttributes },
      { id: "service_number", name: "Service Number", attributes: editableCellAttributes },
      { id: "service_type", name: "Service Type", attributes: editableCellAttributes },
      { id: "principal_credential_type", name: "Credential Type", attributes: editableCellAttributes },
      { id: "communication_tech", name: "Communication Tech", attributes: editableCellAttributes },
      { id: "certification_authority", name: "Certification Authority", attributes: editableCellAttributes },
      { id: "verification_provider", name: "Verification Provider", attributes: editableCellAttributes },
    ],
    server: {
      url: "/notarial_act_list",
      then: (results) => results.data,
      total: (results) => results.total,
    },
    search: {
      enabled: true,
      server: {
        url: (prev, search) => {
          return updateUrl(prev, { search });
        },
      },
    },
    sort: {
      enabled: true,
      multiColumn: true,
      server: {
        url: (prev, columns) => {
          const columnIds = ["id", "date", "time", "act_type", "principal_name", "principal_addressLine1", "principal_city", "principal_state", "principal_zipCode", "service_number", "service_type", "principal_credential_type", "communication_tech", "certification_authority", "verification_provider"];
          const sort = columns.map(
            (col) => (col.direction === 1 ? "+" : "-") + columnIds[col.index]
          );
          return updateUrl(prev, { sort });
        },
      },
    },
    pagination: {
      enabled: true,
      server: {
        url: (prev, page, limit) => {
          return updateUrl(prev, { start: page * limit, length: limit });
        },
      },
    },
  }).render(tableDiv);
</script>
{% endblock %}
