<!-- resourcecenter.html -->

{% extends 'base.html' %}
<!-- -->
{% block base_head_content %}
<link
  href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  rel="stylesheet"
/>
<!-- placeholder for PDF viewer package -->
{% endblock %}
<!--  -->
{% block main_content %}
<h2>Resource Center</h2>
<br />

<h3>Admin Content</h3>
<ul class="nav__list">
  <li class="nav__item">
    <a href="#" class="nav__link__body">Link One</a>
    <br />
    <a href="#" class="nav__link__body">Link One</a>
    <br />
    <a href="#" class="nav__link__body">Link One</a>
  </li>
</ul>
<!--  -->

<h3>Notary Content</h3>
<ul class="nav__list">
  <li class="nav__item">
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a>
  </li>
</ul>
<!--  -->
<h3>Principal Content</h3>
<ul class="nav__list">
  <li class="nav__item">
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a>
  </li>
</ul>
<!--   -->
<h3>Public Content</h3>
<ul class="nav__list">
  <li class="nav__item">
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a><br />
    <a href="#" class="nav__link__body">Link One</a>
  </li>
</ul>
<!--   -->
{% endblock %}
