{% extends 'base.html' %} {% block main_content %}
<h2>Confirm Your Registration</h2>

<form
  action="{{ url_for('confirm_registration') }}"
  method="POST"
  id="confirm-registration-form"
>
  {{ form.hidden_tag() }}
  <p>Email: {{ form.email.data }}</p>
  <p>Full Name: {{ form.full_name.data }}</p>
  <p>
    Address: {{ form.street_address_line_one.data }} {{
    form.street_address_line_two.data }}
  </p>
  <p>City: {{ form.city.data }}</p>
  <p>State: {{ form.state.data }}</p>
  <p>Zip Code: {{ form.zip_code.data }}</p>
  {% if form.role_id.data in [3, 4] %}
  <p>Commission Holder Name: {{ form.commission_holder_name.data }}</p>
  <p>Commission Number/UID: {{ form.commission_number_uid.data }}</p>
  <p>Commissioned County: {{ form.commissioned_county.data }}</p>
  <p>Commission Start Date: {{ form.commission_start_date.data }}</p>
  <p>Commission Expiration Date: {{ form.commission_expiration_date.data }}</p>
  <p>
    Commission Type: {{ form.commission_type_traditional_or_electronic.data }}
  </p>
  {% endif %} {{ form.submit() }}<br /><br />
</form>
{% endblock %}
