{% extends 'base.html' %} {% block main_content %}

<h2>Sign Up - Notary</h2>

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form
  method="POST"
  action="{{ url_for('signup_notary') }}"
  id="notary-auth-form"
>
  {{ form.hidden_tag() }}

  <label>Full Name </label>
  {{ form.full_name() }}<br /><br />

  <label>Commission ID </label>
  {{ form.commission_id() }}<br /><br />

  <label>Commissioned County </label>
  {{ form.commissioned_county() }}<br /><br />

  <label>Commission Start Date </label>
  {{ form.commission_start_date() }}<br /><br />

  <label>Commission Expiration Date </label>
  {{ form.commission_expiration_date() }}<br /><br />

  {{ form.submit() }}<br /><br />
</form>
{% endblock %}
