<!-- signup_principal.html -->
<h2>Sign Up - Principal</h2>

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form method="POST" id="notary-auth-form">
  {{ form.hidden_tag() }}

  <label>{{ form.first_name.label }}</label>
  {{ form.first_name }}<br />

  <label>{{ form.last_name.label }}</label>
  {{ form.last_name }}<br />

  <label>{{ form.street_addr_line_one.label }}</label>
  {{ form.street_addr_line_one }}<br />

  <label>{{ form.street_addr_line_two.label }}</label>
  {{ form.street_addr_line_two }}<br />

  <label>{{ form.street_addr_city.label }}</label>
  {{ form.street_addr_city }}<br />

  <label>{{ form.street_addr_state.label }}</label>
  {{ form.street_addr_state }}<br />

  <label>{{ form.street_addr_zip_code.label }}</label>
  {{ form.street_addr_zip_code }}<br />

  {{ form.submit }}
</form>