{% extends 'base.html' %} {% block main_content %}

<h2>Sign Up - Notary</h2>

{% if form.errors %}
<p>{{ form.errors }}</p>
{% endif %}

<form
  method="POST"
  action="{{ url_for('signup_notary') }}"
  id="notary-auth-form"
>
  {{ form.hidden_tag() }}
  <!-- spacer -->
  {{ form.full_name.label }}{{ form.full_name() }}
  <!-- spacer -->
  {{ form.commission_id.label }}{{ form.commission_id() }}
  <!-- spacer -->
  {{ form.commissioned_county.label }}{{ form.commissioned_county() }}
  <!-- spacer -->
  {{ form.commission_start_date.label }}
  <!-- spacer -->
  {{ form.commission_start_date() }}
  <!-- spacer -->
  {{ form.commission_expiration_date.label }}
  <!-- spacer -->
  {{ form.commission_expiration_date() }}
  <!-- spacer -->
  {{ form.submit() }}
  <!-- spacer -->
</form>
{% endblock %}
