<!-- view_document.html -->
{% extends 'base.html' %}
<!-- spacer  -->
{% block base_head_content %}
<style></style>
<!-- add head content here -->
{% endblock %}
<!-- spacer  -->
{% block main_content %}
<h2>View Document - {{ document.filename }}</h2>
<!-- Embed the PDF file -->
<iframe src="{{ url_for('download_document', document_id=document.id) }}" width="100%" height="500px"></iframe>
</iframe>
{% endblock %}
<!-- spacer  -->
{% block base_end_of_body_scripts %}
<script></script>
<!-- add scripts here that normally would belong at the end of the <body> tag -->
{% endblock %}
